
.button {
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
}

.button:hover {
    transform: scale(1.2);
}
 

#tree,
#tree-level-1 {
    padding: 0.1em 0;
    list-style: none;
    margin: 0;
}

.tree-branch,
.tree-branch {
    margin-bottom: 0;
    position: relative;
    user-select: none;
    list-style: none;
}

.tree-branch > .contents .branch-wrapper,.branch-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0 2px 2px 0 #9699a8;
    border-radius: 3px;
    min-height: 20px;
   /* max-width: 450px;*/
    width: 100%;
    position: relative;
    padding: 10px 15px;
    height: auto;
    gap: 12px;

    line-height: 2.3076923;
    overflow: hidden;
    word-wrap: break-word;
}
 

.tree-branch > .contents .branch-wrapper .left-sidebar {
    cursor: pointer;
}


.contents .moveAble ,.moveAble:hover{
    cursor: move;
    
}

 

.sortable-placeholder {
    border: 1px dashed rgb(63, 63, 63);
    height: 35px;
    max-width: 450px;
    width: 100%;
    margin-top: 10px;
}

 

.branch-level-1 {
    margin-left: 0px;
    list-style: none;
}
.branch-level-2 {
    margin-left: 30px;
    list-style: none;
}
.branch-level-3 {
    margin-left: 60px;
    list-style: none;
}
.branch-level-4 {
    margin-left: 90px; 
    list-style: none;

}
 
  
.branch-level-5 {
    margin-left: 120px;
    list-style: none;
}
.branch-level-6 {
    margin-left: 150px;
    list-style: none;
}
.branch-level-7 {
    margin-left: 180px;
    list-style: none;
}
.branch-level-8 {
    margin-left: 210px;
    list-style: none;
}
.branch-level-9 {
    margin-left: 240px;
    list-style: none;
}
.branch-level-10 {
    margin-left: 270px;
    list-style: none;
}

.branch-level-1 .children-bus {
    margin-left: 0px;
}
.branch-level-2 .children-bus {
    margin-left: -30px;
}
.branch-level-3 .children-bus {
    margin-left: -60px;
}
.branch-level-4 .children-bus {
    margin-left: -90px;
}
.branch-level-5 .children-bus {
    margin-left: -120px;
}
.branch-level-6 .children-bus {
    margin-left: -150px;
}
.branch-level-7 .children-bus {
    margin-left: -180px;
}
.branch-level-8 .children-bus {
    margin-left: -210px;
}
.branch-level-9 .children-bus {
    margin-left: -240px;
}
.branch-level-10 .children-bus {
    margin-left: -270px;
}

.branch-path {
    display: block;
    position: absolute;
    width: 30px;
    height: 98px;
    bottom: 50%;
    left: -12px;
    border: 2px solid #565656;
    border-top: 0;
    border-right: 0;
    padding: 4px 0 0;
    padding-top: 3px;
    border-bottom-left-radius: 6px;
    z-index: -1;
}
.branch-leftdiv{
    display: flex;
}
.branch-leftdivDrager{
    width:4rem;
}
.branch-leftdivImage{
    max-height:2rem;
   

}
.branch-leftdivImage img{
    height:2rem;
    width: auto;
     margin: 0 0.3rem 0 0;
}
 
.branch-title {
    white-space: nowrap;
}
.branch-desc{
    overflow: auto;display: ruby; background-color: lavender;
}
.iconsDiv{
    padding-left:2rem;float:right;display:flex;

}
.modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
 }
 .collapseChildren{
    margin: 0 0.2rem 0 0;
 }
 .collapseChildren:hover {
    transform: scale(1.5);
}
li.list-group-item {padding:0}
